    <md-card *ngIf="script" ngForm #scriptForm="ngForm">
        <md-card-title>Script Details</md-card-title>
        <md-card-content>
        <div class="ui-g alignlabels">
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="name"  class="required">Name</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <md-input-container style="width: 90%">
                    <input mdInput id="name" type="text" [(ngModel)]="script.name"  required   name="name" #name="ngModel"/>
                    
                    <md-error *ngIf="!name.valid && name.dirty && name.errors['required']">
                        Name is required.
                    </md-error>
                </md-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="fileName"  class="required">File Name</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <md-input-container style="width: 90%">
                    <textarea mdInput id="fileName" [(ngModel)]="script.fileName"  required   autoResize="true" name="fileName" #fileName="ngModel"></textarea>
                    
                    <md-error *ngIf="!fileName.valid && fileName.dirty && fileName.errors['required']">
                        File Name is required.
                    </md-error>
                </md-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="arguments" >Arguments</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <md-input-container style="width: 90%">
                    <textarea mdInput id="arguments" [(ngModel)]="script.arguments"   autoResize="true" name="arguments" #arguments="ngModel"></textarea>
                    
                </md-input-container>
                </div>
           </div>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button *ngIf="sub" (click)="onCancel()"><md-icon>cancel</md-icon>Cancel</button>
            <button md-raised-button (click)="onSave()" [disabled]="!scriptForm.form.valid"><md-icon>save</md-icon>Save</button>
        </md-card-actions>
    </md-card>

